<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Sign Up</title>
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/css/bootstrap.min.css" />
<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
<script type="text/javascript"
	src="/webjars/bootstrap/js/bootstrap.min.js"></script>
<style>
#phone::-webkit-inner-spin-button, #phone::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
</style>
</head>
<body>
	<div class="container text-center">
		<div>
			<h1>User Registration - Sign Up</h1>
		</div>
		<form action="#" th:action="@{/Users/register}"
			th:object="${customer}" method="POST"
			style="max-width: 600px; margin: 0 auto;">
			<div class="m-3">
				<div class="form-group row">
					<label class="col-4 col-form-label">Customer Name</label>
					<div class="col-8">
						<input type="text" th:field="*{customerName}" class="form-control"
							required />
					</div>
				</div>

				<div class="form-group row">
					<label class="col-4 col-form-label">User Name</label>
					<div class="col-8">
						<input type="text" th:field="*{userName}" class="form-control"
							required />
					</div>
				</div>

				<div class="form-group row">
					<label class="col-4 col-form-label">Password</label>
					<div class="col-8">
						<input type="password" th:field="*{password}" class="form-control"
							required maxlength="20" />
					</div>
				</div>

				<div class="form-group row">
					<label class="col-4 col-form-label">Phone No </label>
					<div class="col-8">
						<input type="number" id="phone" th:field="*{phoneNo}"
							class="form-control" required maxlength="13" />
					</div>
				</div>

				<div class="form-group row">
					<label class="col-4 col-form-label">Address</label>
					<div class="col-8">
						<input type="text" th:field="*{address}" class="form-control"
							required maxlength="50" />
					</div>
				</div>

				<div class="form-group row">
					<label class="col-4 col-form-label">DOB</label>
					<div class="col-8">
						<input type="date" th:field="*{dob}" class="form-control" required
							maxlength="20" />
					</div>
				</div>

				<div class="form-group row">
					<label class="col-4 col-form-label">Gender</label>
					<div class="col-2 col-form-label">
						<select th:field="*{gender}">						    
							<option th:value="'Male'"  th:text="Male"></option>
							<option th:value="'Female'" th:text="Female"></option>
						</select>
					</div>
				</div>

				<div>
					<button type="submit" class="btn btn-primary">Sign Up</button>
				</div>
			</div>
		</form>
	</div>
</body>
</html>